.card-form
  width 520px

  &__header
    border-top-left-radius 3px !important
    border-top-right-radius 3px !important

  &__content
    border-bottom-left-radius 3px !important
    border-bottom-right-radius 3px !important
    overflow scroll
    max-height 680px
    margin-top -22px
    box-shadow 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1) !important

@media (max-width: 768px)
  .card-form
    width 100% !important

    &__content
      max-height 340px !important